<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportGenerator.Properties.Settings.DataContextConnectionString"
            connectionString="Data Source=DESKTOP-CB4SK9A;Initial Catalog=DataContext;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
